* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  -moz-box-sizing: border-box; /* ff2 */
  -ms-box-sizing: border-box; /* ie8 */
  -webkit-box-sizing: border-box; /* safari3 */
  -khtml-box-sizing: border-box; /* konqueror */
}
.contact-form {
  margin: 3%;
}
.form-border {
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  padding: 1.5%;
}
.form-header {
  margin-bottom: 2%;
  font-size: 210%;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
}
.form {
  background-color: rgba(255,255,255,0.4);
  border-radius: 5px;
  width: 100%;
  padding: 3%;
}
input, textarea {
  display: block;
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
}
