.header-contact {
  margin: auto;
  padding-top: 3vh;
}
.header-contact__logo {
  color: white;
  font-family: Yesteryear;
  font-size: 100px;
  text-align: center;
}
@keyframes increase {
  100% {
      width: 100%;
  }
}
