* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  -moz-box-sizing: border-box; /* mozilla firefox */
  -ms-box-sizing: border-box; /* internet explorer */
  -webkit-box-sizing: border-box; /* safari, chrome, opera */
}
body {
  background-color: #333333;
}
.header {
  margin: auto;
  padding-top: 30vh;
}
.header__logo {
  color: white;
  font-family: Yesteryear;
  font-size: 140px;
  text-align: center;
}
/*line animation*/
.line {
  height:0px;
  width:1px;
  border-bottom: 1px solid #fff;
  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s;
  -o-animation:      increase 3s;
  animation:         increase 3s;
  animation-fill-mode: forwards;
}
@keyframes increase {
  100% {
      width: 90%;
  }
}
.postscript {
  margin-bottom: 20px;
}
.postscript__logo {
  color: white;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 150;
  font-size: 20px;
  margin-left: 8px;
}
.buttons {
  text-align:center;
  padding-bottom: 20vh;
}
.btn {
  justify-content: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: white;
  border: 2px solid white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: white;
  color: black;
}
.first {
  margin-left: -7px;
}
.last {
  margin-right: 0px;
}
/*text animation*/
.header__logo, .postscript__logo {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
  from { opacity:0; }
  to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
  from { opacity:0; }
  to { opacity:1; }
}
/*button animation*/
.btn {
  animation: 2s ease-in 0s normal forwards 1 flipInX;
  -moz-animation: 2s ease-in 0s normal forwards 1 flipInX;
  -webkit-animation: 2s ease-in 0s normal forwards 1 flipInX;
  -o-animation: 2s ease-in 0s normal forwards 1 flipInX;
}
@keyframes flipInX {
  0% { opacity: 0 }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@-webkit-keyframes flipInX {
  0% { opacity: 0 }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@-moz-keyframes flipInX {
  0% { opacity: 0 }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@-o-keyframes flipInX {
  0% { opacity: 0 }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
@media (max-width:980px) {
  .header__logo {
    font-size: 100px;
    margin: auto;
  }
  .postscript__logo {
    font-size: 16px;
    margin-right: 7px;
    margin: auto;
  }
  .btn {
    font-size: 12px;
    padding: 8px 16px;
    margin-right: 5px;
  }
  .first {
    margin-left: 0px;
  }
}
@media (max-width:560px) {
  .header {
    padding-top: 20vh;
  }
  .header__logo {
    font-size: 70px;
  }
  .postscript__logo {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
    padding: 6px 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
